<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Auction</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <a href="index.ejs"><img src="../assets/img/logo.png" alt="Car Auction Logo" class="logo"></a>
            </div>
            <nav class="nav">
                <ul class="nav-links">
                    <li><a href="http://localhost:3000/">Accueil</a></li>
                    <li><a href="http://localhost:3000/our_cars">Nos Voitures</a></li>
                    <li><a href="http://localhost:3000/sell_car">Vendre votre Voiture</a></li>
                    <li><a href="a_propos.ejs">À Propos</a></li>
                    <li><a href="contact.ejs">Contact</a></li>
                </ul>
            </nav>
            <div class="nav-right">
                <input type="text" placeholder="Rechercher">
                <a href="http://localhost:3000/login" class="login-link">Connectez-vous</a>
                <a href="http://localhost:3000/login" class="panier-icon">Panier</a>
            </div>
        </div>
    </header>
</html>