<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Auction</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
</head>
<body>
    <!-- Other content -->

    <footer>
         <!-- Section à propos -->
         <section class="about-us">
            <h2>À Propos</h2>
            <p>Nous sommes une entreprise passionnée par les voitures de luxe.</p>
            <div class="team">
                <div class="team-member">
                    <p>Alexandre PETIT-GHANEM - CEO</p>
                </div>
                <div class="team-member">
                    <p>Lewis HAMILTON - CTO</p>
                </div>
                <div class="team-member">
                    <p>Flavio BRIATORE - Marketing Manager</p>
                </div>
                <div class="team-member">
                    <p>Jordan BELFORT - Sales Manager</p>
                </div>
            </div>
        </section>
        <div class="footer-content">
            <div class="footer-nav">
                <nav>
                    <a href="<%= hoster %>">Accueil</a>
                    <a href="<%= hoster %>/car/sell">Vendre votre Voiture</a>
                    <a href="<%= hoster %>/contact">Contact</a>
                </nav>
            </div>
            <div class="social-media">
                <a href="#"><img src="/assets/img/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="/assets/img/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="/assets/img/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="/assets/img/linkedin.png" alt="LinkedIn"></a>
            </div>
            <div class="payment-methods">
                <h3>Moyens de Paiement</h3>
                <ul>
                    <li><img src="/assets/img/visa.png" alt="Visa"></li>
                    <li><img src="/assets/img/mastercard.png" alt="Mastercard"></li>
                    <li><img src="/assets/img/paypal.png" alt="PayPal"></li>
                    <li><img src="/assets/img/amex.png" alt="American Express"></li>
                </ul>
            </div>
            <p>&copy; 2024 Car Auction. Tous droits réservés.</p>
        </div>
    </footer>
</body>
</html>
