<!DOCTYPE html>
<html lang="fr">
    <header>
        <nav>
            <div class="logo-container">
                <a href="index.html"><img src="../img/logo.png" alt="Car Auction Logo" class="logo"></a>
            </div>
            <div class="nav-links">
                <a href="index.html">Accueil</a>
                <a href="our_cars.html">Nos Voitures</a>
                <a href="sell_car.html">Vendre votre Voiture</a>
                <a href="blog.html">Blog</a>
                <a href="a_propos.html">À Propos</a>
                <a href="contact.html">Contact</a>
            </div>
            <div class="nav-right">
                <input type="text" placeholder="Rechercher">
                <a href="#"><img src="../img/notif.png" alt="Notifications"></a>
                <a href="login.html"><img src="../img/connexion.png" alt="Connexion"></a>
                <a href="login.html" class="login-link">Connectez-vous</a>
            </div>
        </nav>
    </header>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - La voiture que vous cherchez n'est pas là</title>
    <link rel="stylesheet" href="../css/page_404.css">
</head>
<body>
    <div class="container">
        <img src="../img/logo_404.png" alt="voiture abimée" class="car-image">
        <h1>404 - La voiture que vous cherchez n'est pas là</h1>
        <p>Oups! Il semblerait que la page que vous recherchez ne soit plus disponible.</p>
        <ul>
            <li><a href="./index.html">Revenez à la page d'accueil</a></li>
            <li><a href="./our_cars.html">Parcourez nos dernières voitures</a></li>
        </ul>
        <p>Si vous avez besoin d'aide, n'hésitez pas à nous contacter.</p>
        <a href="#" class="contact-link">Contactez-nous</a>
    </div>
</body>
</html>