<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="../assets/css/register.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <a href="index.ejs"><img src="../assets/img/logo.png" alt="Car Auction Logo" class="logo"></a>
            </div>
            <div class="nav-links">
                <a href="/">Accueil</a>
                <a href="http://localhost:3000/our_cars">Nos Voitures</a>
                <a href="http://localhost:3000/sell_car">Vendre votre Voiture</a>
                <a href="http://localhost:3000/a_propos">À Propos</a>
                <a href="http://localhost:3000/contact">Contact</a>
            </div>
            <div class="nav-right">
                <input type="text" placeholder="Rechercher">
                <a href="#"><img src="../assets/img/notif.png" alt="Notifications"></a>
                <a href="http://localhost:3000/login"><img src="../assets/img/connexion.png" alt="Connexion"></a>
                <a href="http://localhost:3000/login" class="login-link">Connectez-vous</a>
                <a href="http://localhost:3000/login"><img src="../assets/img/panier.png" alt="Panier" class="panier-icon"></a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="form-container sign-up-container">
                <form action="#">
                    <h1>Créer un compte</h1>
                    <input type="text" placeholder="Prénom" required/>
                    <input type="text" placeholder="Nom" required/>
                    <input type="email" placeholder="Email" required/>
                    <input type="password" placeholder="Mot de passe" required/>
                    <input type="text" placeholder="Adresse" required/>
                    <input type="text" placeholder="Ville" required/>
                    <input type="text" placeholder="Code Postal" required/>
                    <input type="text" placeholder="Numéro de téléphone" required/>
                    <button>S'inscrire</button>
                    <p>Vous avez déjà un compte ? <a href="login.html">Connexion</a></p>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Car Auction. Tous droits réservés.</p>
            <nav>
                <a href="#">Contact</a>
                <a href="#">Mentions légales</a>
                <a href="#">Politique de confidentialité</a>
            </nav>
        </div>
    </footer>
</body>
</html>
