<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendre votre Voiture</title>
    <link rel="stylesheet" href="../assets/css/sell_car.css">
</head>

<%- include("../partials/header.ejs") %>

<body>
    <main>
        <section class="sell-your-car">
            <h2>Vendre votre Voiture</h2>
            <p>Remplissez le formulaire ci-dessous pour ajouter votre voiture à notre site :</p>
            <form class="car-upload-form">
                <label for="car-make">Marque:</label>
                <input type="text" id="car-make" name="car-make" placeholder="Marque" required>

                <label for="car-model">Modèle:</label>
                <input type="text" id="car-model" name="car-model" placeholder="Modèle" required>

                <label for="car-year">Année:</label>
                <input type="text" id="car-year" name="car-year" placeholder="Année" required>

                <label for="car-mileage">Kilométrage:</label>
                <input type="text" id="car-mileage" name="car-mileage" placeholder="Kilométrage" required>

                <label for="car-condition">État Général:</label>
                <input type="text" id="car-condition" name="car-condition" placeholder="État Général" required>

                <label for="car-description">Description:</label>
                <textarea id="car-description" name="car-description" placeholder="Description" required></textarea>

                <label for="car-photos">Ajouter des photos:</label>
                <input type="file" id="car-photos" name="car-photos" multiple required>

                <button class="cta-button" type="submit">Soumettre</button>
            </form>
        </section>
    </main>
    
    <%- include("../partials/footer.ejs") %>

    <script src="../assets/js/scripts.js"></script>
</body>
</html>
